---
import type { User } from "../types/User";
import Card from "./Card.astro";

const STRAPI_URL = import.meta.env.PUBLIC_STRAPI_API_URL;

const authorizationCookie = Astro.cookies.get("Authorization");

const myData = await fetch(`${STRAPI_URL}/api/users/me?populate=deep`, {
        method: "GET",
        headers: {
            Authorization: authorizationCookie.value as string
        }
    })
    .then((response) => response.json())
    .then((responseData: User) => {
        return responseData;
        
    })

const myDataCartProducts = myData.Cart?.products;
---

<div class="container-sm">
    <div class="row">
        {myDataCartProducts 
            ? myDataCartProducts.map((oneProduct) => {
                return (
                    <Card id={oneProduct.id}
                        title={oneProduct.Title}
                        price={oneProduct.Price}
                        image={oneProduct.Image}
                    />
                )
            })
            : <div>Basket is empty</div>
        }
    </div>
</div>